# .gitignore copy

# custom
*.vsix
vscode/README.md
vscode/CHANGELOG.md
vscode/LICENSE

# intellij
.idea
.gradle
gradle
intellij/build

# os
.DS_Store
._*

# node
logs
*.log
node_modules

# yarn
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity
yarn.lock

# npm
npm-debug.log*

# tests
coverage
.eslintcache
.nyc_output

# .env
.env
.env.test
.env*.local

# vscode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
